@model Product

<h2>Sale! Sale! Sale!</h2>

Click for November deals...

<br><br>


<a href="/Product/GetProductById/@Model.ProductID">

@*<td>@Model.ProductID</td>*@
<td>@Model.Name</td>
@*<td>@Model.Description</td>*@
<td>ONLY @Model.Price TL</td>
@*<td>@Model.ProductCategory.Name</td>*@
<td>
    @foreach (var review in Model.Reviews)
    {
        <tr>
            <td>@review.Comment</td>
            @*<td>@review.Comment (Rating: @review.Rating)</td>*@
        </tr>
    }
</td>

</a>

<br><br>
<form asp-controller="Home" asp-action="SearchByProductName" method="post">
    <p>
        <input type="text" name="name" class="form-control" placeholder="Search by product name:" />
    </p>
    <button type="submit" class="btn btn-primary">Search</button>
</form>