@* @model string 
<h2> Welcome @Model </h2> *@

@*<h2> @ViewData["hello"] @ViewData["name"] </h2>*@

<h2> @ViewBag.name @ViewBag.hello  </h2>



@Html.ActionLink(
    "Click to see participant list", 
    "List",
    "Meeting")

@Html.ActionLink(
    "Click to see meeting summary", 
    "Index",
    "MeetingSummary")



@section footer{
    <h5> Number of participants: @ViewBag.count  </h5>
}