@model Product

<h2>Sale! Sale! Sale!</h2>

Click for November deals...

<br><br>


<td>@Model.ProductID</td>
<td>@Model.Name</td>
<td>@Model.Description</td>
<td>@Model.Price</td>
<td>@Model.ProductCategoryID</td>


